body {
	/* background: repeating-linear-gradient(45deg, black, transparent 100px); */
	background-color: #8122c0;
}

h1 {
	text-align: center;
}

.todo-list {
	margin: 5px auto;
}

.container {
	/* background: white; */
	margin: 100px auto;
	/* text-align: center; */
	width: 900px;
	color: rgba(240, 244, 247, 0.644);
	position: relative;
}

.input-todo {
	width: 90%;
	transition: background 0.5s;
}

.input-todo:hover {
	background: rgb(232, 238, 238);
}

.input-todo, .add {
	height: 35px;

}

.add {
	margin-bottom: 15px;
	width: 9%;
}

.todo-item {
	font-weight: 900;
	font-family: 'Courier New', Courier, monospace;
	width: 100%;
	margin-bottom: 5px;
	background-color: #ffffffab;
	transition: background 0.5s;
}

.todo-item:hover {
	font-size: x-large;
	background: #ffffff4f;
	margin: 15px auto;
}

button {
	cursor: grab;
	background-color: #03A9F4;
	/* cursor: pointer; */
}

input, button {
	border-radius: 5px;
} 

.todo-detail {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.todo-mask {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: black;
	opacity: 0.3;	
}

textarea {
	width: 196px;
}

.format-ts, .show-detail, .delete-todo {
	float: right;
}

.delete-todo {
	margin-left: 2px;
}

.complete {
	text-decoration: rgba(1, 9, 32, 0.863) wavy line-through;
}

.todo-detail {
	opacity: 1;
}
